body            {background-image: url('../background.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                font: 40px Monospace bold;
                text-align: center;
                margin: 0;
                overflow: hidden;}
        
.widget         {background: rgba(250, 250, 250, .4);
                margin: 1%;
                width: 99%;}
        
#quote          {font: 28px Monospace bold;}

#forecast_table {margin-left: auto;
                margin-right: auto;
                width: 90%;
                font: 28px Monospace bold;}
        
#calendar       {height: 600px;}
